.delete-product h1 {
  text-align: center;
  font-family: "Montserrat";
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  column-gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.actions > button {
  border-radius: 20px;
}

.actions > button:nth-child(1) {
  background-color: red;
}
